
$color-black: #000;
$color-white: #fff;
$color-black-1: rgb(22, 22, 22);


$color-grey-light: #DCDCDC; // default
$color-grey-medium: #A9A9A9;

$color-grey-dark-1: #484848;
$color-grey-dark-2: #202020;

$color-valid-green: #8AFF8A;
$color-invalid-red: #FF2E2E;

$default-font-size: 1.6rem;

$grid-max-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;