.book {

&__cover
{
    width: 100%;
    height: auto;
    max-height: 35rem;
    margin: 0 auto;

    @include respond(tab-land)
    {
        max-height: 25rem;
        width: 80%;
    }

    transition: all .3s;
    margin-bottom: 2rem;
    
    &:hover
    {
        transform: translateY(-.5rem);
    }

}

}